In [6]:
import pandas as pd

#Column Name Labels
names = ['player-id', 'player-name','height', 'weight', 'college', 'birth-year', 'birth-city', 'birth-state/country']

#Loading Players.csv data set
df = pd.read_csv('Players.csv', header = None, names = names)
df.head()
df.dropna()

,player-id,player-name,height,weight,college,birth-year,birth-city,birth-state/country
2,1.0,Cliff Barker,188,83,University of Kentucky,1921,Yorktown,Indiana
5,4.0,Ralph Beard,178,79,University of Kentucky,1927,Hardinsburg,Kentucky
7,6.0,Charlie Black,196,90,University of Kansas,1921,Arco,Idaho
8,7.0,Nelson Bobb,183,77,Temple University,1924,Philadelphia,Pennsylvania
9,8.0,Jake Bornheimer,196,90,Muhlenberg College,1927,New Brunswick,New Jersey
10,9.0,Vince Boryla,196,95,University of Denver,1927,East Chicago,Indiana
11,10.0,Don Boven,193,95,Western Michigan University,1925,Kalamazoo,Michigan
12,11.0,Harry Boykoff,208,102,St. John's University,1922,Brooklyn,New York
13,12.0,Joe Bradley,190,79,Oklahoma State University,1928,Washington,Oklahoma
15,14.0,Carl Braun,196,81,Colgate University,1927,Brooklyn,New York
16,15.0,Frankie Brian,185,81,Louisiana State University,1923,Zachary,Louisiana
17,16.0,Price Brookfield,193,83,West Texas A&M University,1920,Floydada,Texas
18,17.0,Bob Brown,193,92,Miami University,1923,Versailles,Ohio
20,19.0,Walt Budko,196,99,Columbia University,1925,Kearney,New Jersey
22,21.0,Tommy Byrnes,190,79,Seton Hall University,1923,Teaneck,New Jersey
23,22.0,Bill Calhoun,190,81,City College of San Francisco,1927,San Francisco,California
24,23.0,Don Carlson,183,77,University of Minnesota,1919,Minneapolis,Minnesota
29,28.0,Leroy Chollet,188,86,Canisius College,1925,New Orleans,Louisiana
30,29.0,Bill Closs,196,88,Rice University,1922,Edge,Texas
32,31.0,Jack Coleman,201,88,University of Louisville,1924,Burgin,Kentucky
35,34.0,Jack Cotton,201,90,University of Wyoming,1924,Miles City,Montana
36,35.0,Dillard Crocker,193,92,Western Michigan University,1925,Coffee County,Tennessee
37,36.0,Chink Crossin,185,74,University of Pennsylvania,1923,Luzerne,Pennsylvania
38,37.0,Fran Curran,183,79,University of Notre Dame,1922,Sterling,Illinois
40,39.0,Bob Davies*,185,79,Seton Hall University,1920,Harrisburg,Pennsylvania
41,40.0,Hook Dillon,190,81,University of North Carolina,1924,Savannah,Georgia
44,43.0,Bob Doll,196,88,University of Colorado,1919,Steamboat Springs,Colorado
45,44.0,Harry Donovan,188,81,Muhlenberg College,1926,Union City,New Jersey
47,46.0,Dike Eddleman,190,85,University of Illinois at Urbana-Champaign,1922,Centralia,Illinois
48,47.0,Gene Englund,196,92,University of Wisconsin,1917,Kenosha,Wisconsin
...,...,...,...,...,...,...,...,...
3886,3885.0,Rodney McGruder,193,92,Kansas State University,1991,Landover,Maryland
3887,3886.0,Dejounte Murray,196,77,University of Washington,1996,Seattle,Washington
3888,3887.0,Jamal Murray,193,93,University of Kentucky,1997,Kitchener,Canada
3889,3888.0,Maurice Ndour,206,90,Ohio University,1992,Sindia,Senegal
3890,3889.0,Georges Niang,203,104,Iowa State University,1993,Lawrence,Massachusetts
3891,3890.0,David Nwaba,193,94,"California Polytechnic State University, San L...",1993,Los Angeles,California
3892,3891.0,Daniel Ochefu,211,111,Villanova University,1993,Baltimore,Maryland
3893,3892.0,Chinanu Onuaku,208,111,University of Louisville,1996,Baltimore,Maryland
3895,3894.0,Gary Payton,193,81,Oregon State University,1968,Oakland,California
3896,3895.0,Marshall Plumlee,211,111,Duke University,1990,Fort Wayne,Indiana
3897,3896.0,Jakob Poeltl,213,112,University of Utah,1995,Vienna,Austria
3898,3897.0,Alex Poythress,201,107,University of Kentucky,1993,Savannah,Georgia
3899,3898.0,Tim Quarterman,198,88,Louisiana State University,1994,Savannah,Georgia
3900,3899.0,Chasson Randle,188,83,Stanford University,1993,Rock Island,Illinois
3901,3900.0,Malachi Richardson,198,92,Syracuse University,1996,Trenton,New Jersey
3902,3901.0,Domantas Sabonis,211,108,Gonzaga University,1996,Portland,Oregon
3905,3904.0,Wayne Selden,196,104,University of Kansas,1994,Roxbury,Massachusetts
3906,3905.0,Pascal Siakam,206,104,New Mexico State University,1994,Douala,Cameroon
3907,3906.0,Diamond Stone,211,115,University of Maryland,1997,Milwaukee,Wisconsin
3909,3908.0,Isaiah Taylor,190,77,University of Texas at Austin,1994,Hayward,California
3910,3909.0,Mike Tobey,213,117,University of Virginia,1994,Monroe,New York
3911,3910.0,Tyler Ulis,178,68,University of Kentucky,1996,Detroit,Michigan
3912,3911.0,Jarrod Uthoff,206,100,University of Iowa,1993,Cedar Rapids,Iowa
3913,3912.0,Denzel Valentine,198,96,Michigan State University,1993,Lansing,Michigan
3914,3913.0,Fred VanVleet,183,88,Wichita State University,1994,Rockford,Illinois
3916,3915.0,Okaro White,203,92,Florida State University,1992,Clearwater,Florida
3917,3916.0,Isaiah Whitehead,193,96,Seton Hall University,1995,Brooklyn,New York
3918,3917.0,Troy Williams,198,97,South Carolina State University,1969,Columbia,South Carolina
3919,3918.0,Kyle Wiltjer,208,108,Gonzaga University,1992,Portland,Oregon
3920,3919.0,Stephen Zimmerman,213,108,"University of Nevada, Las Vegas",1996,Hendersonville,Tennessee